body {
  font-family: 'Roboto', sans-serif;
}

.reveal .slides section {
  border: 4px solid #2c3e50;   /* dark border */
  border-radius: 12px;         /* rounded corners */
  padding: 20px;               /* spacing inside */
  box-shadow: 0 0 15px rgba(0,0,0,0.3); /* subtle shadow */
}

.center {
  text-align: center;
  font-size: 2.8rem;
  color: #353552;
}

